<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bee.platform.user.dao.mapper.EnterprisesAttachmentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.bee.platform.user.entity.EnterprisesAttachment">
        <id column="id" property="id" />
        <result column="enterprises_id" property="enterprisesId" />
        <result column="type" property="type" />
        <result column="file_name" property="fileName" />
        <result column="file_url" property="fileUrl" />
        <result column="status" property="status" />
        <result column="create_id" property="createId" />
        <result column="creator" property="creator" />
        <result column="create_time" property="createTime" />
        <result column="modify_id" property="modifyId" />
        <result column="modifier" property="modifier" />
        <result column="modify_time" property="modifyTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, enterprises_id, type, file_name, file_url, status, create_id, creator, create_time, modify_id, modifier, modify_time
    </sql>

</mapper>
