<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bee.platform.user.dao.mapper.EnterprisesRelationUserCheckMapper">



    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.bee.platform.user.entity.EnterprisesRelationUserCheck">
        <id column="id" property="id" />
        <result column="enterprise_id" property="enterpriseId" />
        <result column="enterprise_name" property="enterpriseName" />
        <result column="user_id" property="userId" />
        <result column="user_name" property="userName" />
        <result column="phone" property="phone" />
        <result column="check_id" property="checkId" />
        <result column="check_name" property="checkName" />
        <result column="check_status" property="checkStatus" />
        <result column="apply_reason" property="applyReason" />
        <result column="refusal_reason" property="refusalReason" />
        <result column="status" property="status" />
        <result column="create_id" property="createId" />
        <result column="creator" property="creator" />
        <result column="create_time" property="createTime" />
        <result column="modify_id" property="modifyId" />
        <result column="modifier" property="modifier" />
        <result column="modify_time" property="modifyTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, enterprise_id, enterprise_name, user_id, user_name,phone,check_id, check_name, check_status, apply_reason, refusal_reason, status, create_id, creator, create_time, modify_id, modifier, modify_time
    </sql>
    
	<select id="selectEnterprisesRelationUserCheck"  parameterType="map" resultMap="BaseResultMap">
        SELECT * FROM enterprises_relation_user_check WHERE  (phone like CONCAT('%', #{nameOrPhone}, '%') or user_name like CONCAT('%', #{nameOrPhone}, '%')) and create_time>#{startTime} and #{endTime}>create_time
    </select>
    
    <select id="getAllApplyList"  parameterType="int" resultMap="BaseResultMap">
        SELECT
          <include refid="Base_Column_List"/>
        FROM enterprises_relation_user_check e
        WHERE 1=1
        <if test="nameOrPhone != null and nameOrPhone != ''">
            AND (e.phone like CONCAT('%', #{nameOrPhone}, '%') or e.user_name like CONCAT('%', #{nameOrPhone}, '%'))
        </if>
        <if test="startTime != null and startTime != '' and endTime != null and endTime != ''">
            AND e.create_time <![CDATA[<= ]]> #{endTime}
            AND e.create_time <![CDATA[>= ]]> #{startTime}
        </if>
        AND e.enterprise_id = #{enterpriseId}
    </select>
</mapper>
