<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bee.platform.user.dao.mapper.LearnMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.bee.platform.user.entity.Learn">
        <id column="id" property="id" />
        <result column="org_id" property="orgId" />
        <result column="user_id" property="userId" />
        <result column="title" property="title" />
        <result column="content" property="content" />
        <result column="hits" property="hits" />
        <result column="create_at" property="createAt" />
        <result column="update_at" property="updateAt" />
        <result column="type" property="type" />
        <result column="status" property="status" />
        <result column="dep_name" property="depName" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, org_id, user_id, title, content, hits, create_at, update_at, type, status, dep_name
    </sql>


</mapper>
