<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bee.platform.user.dao.mapper.UsersRolesMapper">



    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.bee.platform.user.entity.UserRole">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="role_id" property="roleId" />
        <result column="org_id" property="orgId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, role_id, org_id
    </sql>
    <!--批量新增管理员-->
    <update id="insertAdminsList" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            update users_roles set
            role_id=#{item.roleId}
            where 1= 1 and user_id = ${item.id}
        </foreach>
    </update>
    <!--批量删除管理员-->
    <update id="updateAdminsList" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            update users_roles set
            role_id=#{item.roleId}
            where 1= 1 and user_id = #{item.id}
        </foreach>

    </update>

    <update id="updateUserRole" parameterType="com.bee.platform.user.entity.UserRole">
        update users_roles set
            role_id=#{roleId}
            where  user_id = #{userId}  and org_id=#{orgId}
    </update>

</mapper>
