<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bee.platform.user.dao.mapper.WorkOrdersDetailMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.bee.platform.user.entity.WorkOrdersDetail">
        <id column="id" property="id" />
        <result column="work_order_number" property="workOrderNumber" />
        <result column="reply_description" property="replyDescription" />
        <result column="enclosure" property="enclosure" />
        <result column="reply_id" property="replyId" />
        <result column="reply_head" property="replyHead" />
        <result column="reply_name" property="replyName" />
        <result column="reply_time" property="replyTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, work_order_number, reply_description, enclosure, reply_id, reply_head, reply_name, reply_time
    </sql>

</mapper>
