<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bee.platform.datadriver.dao.mapper.ErpMaterialBatchOrderDetailMapper">


    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.bee.platform.datadriver.entity.ErpMaterialBatchOrderDetail">
        <id column="id" property="id" />
        <result column="material_batch_order_id" property="materialBatchOrderId" />
        <result column="product_id" property="productId" />
        <result column="product_name" property="productName" />
        <result column="number" property="number" />
        <result column="deleted" property="deleted" />
        <result column="creator_id" property="creatorId" />
        <result column="creator_enterprise_id" property="creatorEnterpriseId" />
        <result column="create_time" property="createTime" />
        <result column="modify_time" property="modifyTime" />
        <result column="modifier_id" property="modifierId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, material_batch_order_id, product_id, product_name, number, deleted, creator_id, creator_enterprise_id, create_time, modify_time, modifier_id
    </sql>

    <select id="getMaterialBatchDetails" resultType="com.bee.platform.datadriver.dto.ErpMaterialBatchDetailsDTO">
        SELECT
            p.id,
            p.`name` AS productName,
            p.unit
        FROM
            erp_material_batch_order_detail d
            LEFT JOIN erp_product p ON d.product_id = p.id
        WHERE 1=1
        AND d.deleted=0
        AND d.material_batch_order_id = #{id}

    </select>

</mapper>
