<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bee.platform.datadriver.dao.mapper.ErpOpeningInventoryOrderDetailMapper">


    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.bee.platform.datadriver.entity.ErpOpeningInventoryOrderDetail">
        <id column="id" property="id" />
        <result column="opening_inventory_order_id" property="openingInventoryOrderId" />
        <result column="product_id" property="productId" />
        <result column="product_name" property="productName" />
        <result column="store_house_name" property="storeHouseName" />
        <result column="unit_of_measurement" property="unitOfMeasurement" />
        <result column="test_order" property="testOrder" />
        <result column="quantity" property="quantity" />
        <result column="company_id" property="companyId" />
        <result column="company_name" property="companyName" />
        <result column="deleted" property="deleted" />
        <result column="creator_id" property="creatorId" />
        <result column="creator_enterprise_id" property="creatorEnterpriseId" />
        <result column="create_time" property="createTime" />
        <result column="modifier_id" property="modifierId" />
        <result column="modify_time" property="modifyTime" />
        <result column="repository_id" property="repositoryId" />
        <result column="test_report_id" property="testReportId" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, opening_inventory_order_id,test_report_id, repository_id, product_id, product_name, store_house_name, unit_of_measurement, test_order, quantity, company_id, company_name, deleted, creator_id, creator_enterprise_id, create_time, modifier_id, modify_time
    </sql>

</mapper>
