<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bee.platform.datadriver.dao.mapper.ErpPurchaseInvoiceOrderDetailMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.bee.platform.datadriver.dto.ErpInvoiceOrderDetailDTO">
        <id column="id" property="id" />
        <result column="order_id" property="orderId" />
        <result column="product_id" property="productId" />
        <result column="price" property="price" />
        <result column="name" property="productName" />
        <result column="num" property="num" />
        <result column="unit" property="unit" />
        <result column="tax_rate" property="taxRate" />
        <result column="amount" property="amount" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        epiod.id, epiod.order_id, epiod.price, epiod.num, epiod.unit, epiod.tax_rate, epiod.amount, epiod.product_id, ep.name
    </sql>

    <select id="listInvoiceOrderDetail" resultMap="BaseResultMap">
        SELECT
            <include refid="Base_Column_List"/>
        FROM
            erp_purchase_invoice_order_detail epiod
        LEFT JOIN erp_product ep ON epiod.product_id = ep.id
        WHERE epiod.order_id = #{id}
          and epiod.deleted = 0
        order by epiod.create_time desc
    </select>

</mapper>
