<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bee.platform.customer.dao.mapper.ErpCustomerCategoryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.bee.platform.customer.entity.ErpCustomerCategory">
        <id column="id" property="id" />
        <id column="enterprise_id" property="enterpriseId" />
        <result column="p_code" property="pcode" />
        <result column="p_name" property="pName" />
        <result column="status" property="status" />
        <result column="deleted" property="deleted" />
        <result column="operate_id" property="operateId" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="deleted_time" property="deletedTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,enterprise_id, p_code, p_name,  status,deleted,operate_id,create_time,update_time,deleted_time
    </sql>

</mapper>
