<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bee.platform.datadriver.dao.mapper.ErpLogisticsInvoiceMapper">


    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.bee.platform.datadriver.entity.ErpLogisticsInvoice">
        <id column="id" property="id" />
        <result column="order_id" property="orderId" />
        <result column="invoice_number" property="invoiceNumber" />
        <result column="order_number" property="orderNumber" />
        <result column="company_id" property="companyId" />
        <result column="company_name" property="companyName" />
        <result column="invoice_time" property="invoiceTime" />
        <result column="carrier_id" property="carrierId" />
        <result column="carrier_name" property="carrierName" />
        <result column="remarks" property="remarks" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="create_user" property="createUser" />
        <result column="update_user" property="updateUser" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, order_id, invoice_number, order_number, company_id, company_name, invoice_time, carrier_id, carrier_name, remarks, create_time, update_time, create_user, update_user
    </sql>

</mapper>
