<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bee.platform.datadriver.dao.mapper.ErpLogisticsInvoiceDetailMapper">



    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.bee.platform.datadriver.entity.ErpLogisticsInvoiceDetail">
        <id column="id" property="id" />
        <result column="order__id" property="orderId" />
        <result column="invoice_id" property="invoiceId" />
        <result column="product_id" property="productId" />
        <result column="product_name" property="productName" />
        <result column="unit" property="unit" />
        <result column="weight" property="weight" />
        <result column="unit_price" property="unitPrice" />
        <result column="tax_rate" property="taxRate" />
        <result column="amount" property="amount" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="create_user" property="createUser" />
        <result column="update_user" property="updateUser" />
        <result column="deleted" property="deleted" />
        <result column="batch_id" property="batchId" />
        <result column="batch_name" property="batchName" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, order__id, invoice_id, product_id, product_name, unit, weight, unit_price, tax_rate, amount, create_time, 
        update_time, create_user, update_user, deleted,batch_id, batch_name
    </sql>

</mapper>
