<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bee.platform.datadriver.dao.mapper.ErpOperationLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.bee.platform.datadriver.entity.ErpOperationLog">
        <id column="id" property="id" />
        <result column="company_id" property="companyId" />
        <result column="business_id" property="businessId" />
        <result column="business_type" property="businessType" />
        <result column="operator" property="operator" />
        <result column="operator_name" property="operatorName" />
        <result column="operate_msg" property="operateMsg" />
        <result column="operate_time" property="operateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,company_id, business_id, business_type, operator, operator_name, operate_msg, operate_time
    </sql>

</mapper>
