<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bee.platform.dinas.datadriver.dao.mapper.DinasSalePaymentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.bee.platform.dinas.datadriver.entity.DinasSalePayment">
        <id column="id" property="id" />
        <result column="order_id" property="orderId" />
        <result column="customer_id" property="customerId" />
        <result column="company_id" property="companyId" />
        <result column="company_name" property="companyName" />
        <result column="code" property="code" />
        <result column="receive_amount" property="receiveAmount" />
        <result column="receive_date" property="receiveDate" />
        <result column="url" property="url" />
        <result column="create_user" property="createUser" />
        <result column="update_user" property="updateUser" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, order_id, customer_id, company_id, company_name, code, receive_amount, receive_date, url, create_user, update_user, create_time, update_time
    </sql>

    <select id="findInfo" resultType="com.bee.platform.dinas.datadriver.dto.DinasSalePaymentDTO">
        select dsp.id, dsp.customer_id, dc.customer_name, dsp.company_id, dsp.company_name, dsp.code,
        dsp.receive_amount, dsp.receive_date, dsp.url, dso.id orderId,dso.code orderCode
        from dinas_sale_payment dsp
        left join dinas_customer dc on dc.id = dsp.customer_id and dc.deleted = 0
        left join dinas_sale_order dso on dso.id = dsp.order_id and dso.deleted = 0
        where dsp.deleted = 0 and dsp.id = #{id}
    </select>

    <select id="findList" resultType="com.bee.platform.dinas.datadriver.dto.SalePaymentListDTO">
        select dsp.id, dsp.customer_id, dc.customer_name, dsp.company_id, dsp.company_name, dsp.code,
        dsp.receive_amount, dsp.receive_date, dso.code orderCode
        from dinas_sale_payment dsp
        left join dinas_customer dc on dc.id = dsp.customer_id and dc.deleted = 0
        left join dinas_sale_order dso on dso.id = dsp.order_id and dso.deleted = 0
        where dsp.deleted = 0
        <if test="companyId != null">
            and dsp.company_id = #{companyId}
        </if>
        <if test="orderCode != null">
            and dso.code like CONCAT('%',#{orderCode},'%')
        </if>
        <if test="code != null">
            and dsp.code like CONCAT('%',#{code},'%')
        </if>
        <if test="customerId != null">
            and dsp.customer_id = #{customerId}
        </if>
        <if test="customerName != null">
            and dc.customer_name like CONCAT('%',#{customerName},'%')
        </if>
        <if test="receiveDateStart != null">
            and dsp.receive_date <![CDATA[>=]]> #{receiveDateStart}
        </if>
        <if test="receiveDateEnd != null">
            and dsp.receive_date <![CDATA[<=]]> #{receiveDateEnd}
        </if>
        order by dsp.create_time desc
    </select>
</mapper>
